@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;
  }

  .dark {
    --background: 20 14.3% 4.1%;
    --foreground: 60 9.1% 97.8%;
  }
}

@layer base {
  body {
    @apply bg-stone-50 text-stone-900 antialiased dark:bg-stone-900 dark:text-stone-50;
  }
}

.glass-effect {
  @apply bg-white/50 backdrop-blur-sm dark:bg-stone-900/50;
}

.glass-effect-hover {
  @apply hover:bg-white/70 hover:backdrop-blur-sm dark:hover:bg-stone-900/70;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
} 